<!DOCTYPE html>
<html>
<head>
    <title>GreetingU</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <img src="{{url_for('static',filename='HEADING.png') }}" alt="Greetings for you !!">
        </div>
        <form method="post" action="{{ url_for('home') }}">
            <br/>
            <br/>
            <input type="text" id="name" name="name" placeholder="To whom you are sending this..">
            <br/>
            <br/>
            <input type="text" id="message" name="message" placeholder="On what occasion you are wishing them...">
            <br/>
            <input type="submit" value="Submit">
            <input type="reset" value="Rewrite">
        </form>
    </div>
</body>
</html>
